* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1b32;
}
header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
}
.logo-imagen {
  border-radius: 30% 435px;
  margin-right: 10px;
  background: linear-gradient(90deg, #ff5ffc, #7b9afe);
}
h1 {
  font-size: 3rem;
  font-family: "Rubik Doodle Shadow", system-ui;
  background: linear-gradient(90deg, #ff5ffc, #7b9afe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 20px auto;
  text-align: center;
  width: 100%;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1b1b32;
}
.texto {
  position: absolute;
  text-align: center;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background: linear-gradient(90deg,#5fe2ff,#ef7bfe);
  box-shadow: 0px 24px 32px -8px rgba(5, 139, 248, 0.638);
  color: #fff;
  border-radius: 20px;
}
.texto::placeholder {
  color: #0a3871;
}
.texto:focus,
.texto:active {
  border: none;
  outline: none;
}
.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
}
.terminos p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f2eef2;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  left: 13%;
  top: 82%;
  gap: 8px;
  flex-wrap: wrap; /* Permite que los botones se ajusten en varias filas si es necesario */
}
.btn-encriptar, .btn-desencriptar, .btn-copiar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 13%;
  border-radius: 24px;
  font-family: "Playwrite IT Moderna", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #ff5ffc, #7b9afe); 
}
.btn-desencriptar {
  color: #0a3871;
  background: linear-gradient(90deg, #7b9afe, #ff5ffc);
  border: 1px solid #0a3871;
}
.btn-copiar {
  color: #fff;
  background: linear-gradient(90deg, #7b9afe, #ff5ffc);
}
.btn-desencriptar:hover, .btn-encriptar:hover, .btn-copiar:hover {
  margin: 0.3%;
  transform: scale(1.1);
  padding: 1.8%;
}
.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: linear-gradient(90deg,#5fe2ff,#ef7bfe);
  box-shadow: 0px 24px 32px -8px rgba(5, 139, 248, 0.638);
  border-radius: 32px;
}
.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}
.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Playwrite IT Moderna", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}
.mensaje-encriptado p {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}
.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}
.encriptado button {
  position: relative;
  width: 80%;
  height: 50%;
}
footer {
  background-color: #1b1b32;
  color: #f2eef2;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
footer p {
  font-size: 22px;
  font-family: "Playwrite IT Moderna", cursive;
}
footer .redes a {
  color: #0d101e;
  background-color: #f2eef2;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #121629;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  font-size: 20px;
  transition: 0.3s;
}
footer .redes a:hover {
  color: #fff;
  background-color: #0a3871;
  border-color: #0a3871;
  transform: scale(1.2);
}
@media (max-width: 57.5em) {
  .logo-imagen {
      left: 3%;
      padding-top: 3%;
  }
  h1 {
      font-size: 2rem;
  }
  .encriptar {
      width: 90%;
  }
  .texto {
      font-size: 24px;
      width: 80%;
      height: 50%;
      left: 10%;
      top: 5%;
  }
  .terminos {
      width: 80%;
      max-width: 600px;
      margin-top: 10px;
      text-align: center;
      opacity: 0.8;
  }
  .botones {
      width: 100%;
      left: 0;
      top: auto;
      bottom: 20%;
      justify-content: center;
      padding: 10px;
      gap: 10px;
  }
  .btn-encriptar, .btn-desencriptar, .btn-copiar {
      width: 80%;
      margin: 5px 0;
  }
  .encriptado {
      width: 80%;
      height: 15%;
      left: 10%;
      top: 80%;
  }
  .mensaje-encriptado {
      width: 100%;
      top: 5%;
  }
  .mensaje-encriptado p{
    font-size: 16px;
  }
  .encriptado img {
      top: 0;
      display: none;
      visibility: hidden;
  }
}
